<div class="container">
  <div class="form-wrapper mx-auto">
    <form action="/artists" class="form-group p-3 shadow rounded bg-warning">
      <h3 class="title-index mb-3">Express Spotify</h3>
      <input type="text" name="artist" placeholder="Search for an artist" class="form-control mx-auto mb-2 col-sm-6">
      <button type="submit" class="btn btn-danger">Search for an artist</button>
    </form>
  </div>
</div>