<div class="nav mb-1 pl-4 pt-2 pb-2 bg-light">
  <a href="/" class="btn btn-success btn-sm w-25 p-2">Search</a>
  <h5 class="w-75 pl-4 p-2">Tracks preview for: <strong class="ml-2"> {{tracks.[0].artists.[0].name}} </strong> </h5>
</div>
<div class="container">
  {{#each tracks}}
  <div class="row">
    <div class="card d-flex flex-row align-items-center pt-2 pb-1 mb-1">
      <p class="track-title pl-4 col-8"> {{this.name}} </p>
      {{#if this.preview_url}}
      <div class="col-4 p-1">
        <audio controls="" src="{{this.preview_url}}">
          {{else}}
          <h4>Preview not available</h4>
          {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>